In [1]:
import pandas                  as pd
import numpy                   as np

from google.colab import drive

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
_path = '/content/gdrive/MyDrive/Colab Notebooks/Credito_risco_DSA/credito.csv'
df_credito = pd.read_csv(_path)
df_credito.shape

(1000, 17)

In [5]:
df_credito.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes